{% extends "index.html" %}

{% block announce %}
- 四级、六级报名已经开启，请进入 [教务网](https://my.cqu.edu.cn/workspace/home)-四六级报名 进行报名
文经经典第一次写作已经开始，<a
    href=“https://info-studio.github.io/CQU-openlib/%E6%9D%82%E9%A1%B9/%E6%96%87%E6%98%8E%E7%BB%8F%E5%85%B8%E5%86%99%E4%BD%9C%E9%A2%98%E7%9B%AE/2023%E5%B1%8A%E6%96%87%E6%98%8E%E7%BB%8F%E5%85%B8A%E4%B8%8B%E5%AD%A6%E6%9C%9F%E7%AC%AC%E4%B8%80%E6%AC%A1%E5%86%99%E4%BD%9C%E9%A2%98%E7%9B%AE/”>文明经典A</a>、<a
    href=“https://info-studio.github.io/CQU-openlib/%E6%9D%82%E9%A1%B9/%E6%96%87%E6%98%8E%E7%BB%8F%E5%85%B8%E5%86%99%E4%BD%9C%E9%A2%98%E7%9B%AE/2023%E5%B1%8A%E6%96%87%E6%98%8E%E7%BB%8F%E5%85%B8B%E4%B8%8B%E5%AD%A6%E6%9C%9F%E7%AC%AC%E4%B8%80%E6%AC%A1%E5%86%99%E4%BD%9C%E9%A2%98%E7%9B%AE/”>文明经典B</a>
{% endblock %}