.cqu-logo-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin: 20px auto;
    height: 256px;
    width: 256px;
}

.cqu-logo {
    display: block;
    height: auto;
    width: auto;
    object-fit: contain;
    align-items: flex-start;
}