.curriculum-form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.curriculum-form-row {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.curriculum-form-divider {
    min-height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
    color: var(--md-default-fg-color--light);
    font-size: 0.8em;
}

.curriculum-form-divider::before,
.curriculum-form-divider::after {
    content: "";
    display: block;
    width: 1px;
    flex: 1;
    background-color: var(--md-default-fg-color--light);
}

.curriculum-form-helpertext {
    color: var(--md-default-fg-color--light);
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.curriculum-form-button {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-table-key {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 100%;
}

.curriculum-table-key>code {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

.curriculum-table-actions {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.curriculum-table-time {
    width: 100%;
    display: flex;
    justify-content: center;
}

.curriculum-table-time>table>tr>.curriculum-table-cell {
    text-align: center !important;
    min-width: 2em;
    position: relative;
    overflow: hidden;
}

.curriculum-table-time>table>tr>.curriculum-table-cell.curriculum-table-cell-scheduled {
    background-color: var(--md-typeset-table-color);
}

.curriculum-table-time>table>tr>.curriculum-table-cell.curriculum-table-today {
    background-color: color-mix(in srgb, var(--md-default-bg-color) 50%, var(--md-primary-fg-color) 50%);
}

.curriculum-table-time>table>tr>.curriculum-table-cell.curriculum-table-cell-scheduled.curriculum-table-today {
    background-color: color-mix(in srgb, var(--md-typeset-table-color) 50%, var(--md-primary-fg-color) 50%);
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-flexbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.4em 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-flexbox>.curriculum-event-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 1.1;
    height: calc(1.1em * 2);
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-flexbox>.curriculum-event-teacher,
.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-flexbox>.curriculum-event-classroom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80vw;
    height: 40vh;
    background-color: var(--md-default-bg-color);
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-dialog>.curriculum-event-dialog-title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 1.2em;
    height: 60%;
}

.curriculum-table-time>table>tr>.curriculum-table-cell>.curriculum-event-dialog>.curriculum-event-dialog-teacher {
    font-size: 14px;
    margin: 5px 0;
}